# Database Configurations
DB_URL=jdbc:postgresql://localhost:5432/dftp
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_POOL_MAX=10

# Kafka Configurations
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Application Settings
APP_NAME=local-service
